<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sravya Dasari</a>
        </div>
        <ul class="nav navbar-nav">
      <li ><a #rla0="routerLinkActive" active="rla0.isActive" routerLink="blog" routerLinkActive="active">Blog</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="https://open.spotify.com/playlist/4jI7tL55EU1aNilC8eXTWE?si=e15712ac1bf44588">Listen to my playlist</a></li>
      </ul>
    </div>
</nav>