<div>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Sravya Dasari</a>
                </div>
                <!-- <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
      
            </ul> -->
            </div>
        </nav>
        <div class="text-center">
            <img src="../../assets/images/lemonoscover.png" class="avatar img-fluid">
            <h3>LemonOS: Where Time Meets Innovation 🍋⌚</h3>
            <div class="description"> 

                Unshackle Your Wrist with the Future of Smart Timekeeping!

                Are you tired of navigating cumbersome interfaces on your PineTime smartwatch? It's time to
                elevate your experience with LemonOS. Our state-of-the-art operating system turns your PineTime
                device into a cutting-edge smartwatch that keeps you connected, empowered, and healthy.</div>
        </div>
        <hr style="margin-top: 10em;">
    </div>
    
    <div class="container" style="margin-top: 5em;">
        <div class="container-fluid">
            <div class="row">
                <!-- Left side with text -->
                <div class="col-md-12 d-flex text-center">
                    <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FSgvvTLo8uuUW4ECEXye3iF%2FLemonOS%3Ftype%3Ddesign%26node-id%3D0%253A1%26mode%3Ddesign%26t%3DZdUDnqStvRjaIvxS-1" allowfullscreen></iframe>
                    <div class="description-product" style="margin-top: 5em;"> 🔔 <b>Real-time Notifications</b>
                        Never miss an important email, message, or reminder. LemonOS brings you real-time notifications right on your wrist, so you're always in the loop.
                        </div>
                        <div class="description-product">
                        📞 <b>Call Alerts</b>
                        See who's calling without reaching for your phone. Accept or decline calls directly from your watch for seamless communication.
                    </div>
                    <div class="description-product">
                        🏃‍♂️ <b>Next-Gen Health Tracking</b>
                        Stay fit, stay motivated! Track your steps, monitor your heart rate, and get insights into your sleep patterns. LemonOS makes your health a priority.
                        </div>
                        <div class="description-product">
                        🌟 <b>Key Features:</b>
                        
                        User-friendly interface: Simple, intuitive controls to make your life easier
                        Customizable watch faces: Add a personal touch to your PineTime
                        Advanced battery optimization: Longer life for longer adventures
                        Open-source: Built on the trusted PineTime hardware you love, now supercharged!
                        Don't just keep time, make the most of it. Upgrade to LemonOS and unlock the full potential of your PineTime smartwatch today! 🍋⌚</div>

                </div>

            
            </div>
        </div>
    </div>
    <hr style="margin-top: 10em;">
    <div class="container">
        <div class="text-center">
            <h1>Let's build something together</h1>
            <div class="row footer">
                <div class="col-lg-4">
                    <div class="action">Email</div>
                    <div><a class="action-link" href="mailto:dasarisravya96@gmail.com">Dasarisravya96@gmail.com</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="action">
                        Reach out
                    </div>
                    <div>
                        <a class="action-link" href="https://www.linkedin.com/in/dasarisravya/" target="_blank">Linkedin
                            Profile</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="action">
                        Resume
                    </div>
                    <div>

                        <a class="action-link" href="https://www.linkedin.com/in/dasarisravya/" target="_blank">Just
                            Ask</a>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>