<div>
    <div class="container">
        <app-navbar></app-navbar>
        <div class="text-center">
            <img src="../assets/images/curious.png" class="avatar img-fluid">
            <h3>How Far Does Curiosity Take You? Beyond the Moon! </h3>
            <div class="description">Dive in as I share my experiences working on most intriguing and interesting problems I have worked on and spill some tea on how we overcame some problems that looked like a mountain but really were puzzles waiting to be solved.</div>
        </div>
        <hr style="margin-top: 10em;">
    </div>
    <div class="container" style="margin-top: 5em;">
        <div class="container-fluid">
            <div class="row">
                <!-- Left side with text -->
                <div class="col-md-6 d-flex justify">
                    <div class="project-title">The Access Alchemy: Role-Based Permissions in EHR Applications</div>
                    <div class="project-timeline">April 2023</div>
                    <div class="project-description"> In the intricate ecosystem of Electronic Health Records (EHR) applications, data is both invaluable and vulnerable. Different types of users, such as providers, billers, and administrators, interact with the system. However, not everyone should have access to all forms of data. How can we build a sophisticated permission structure that keeps data secure? </div>
                        <div class="action-link" routerLink="/permissionsblog"> Read More </div>
                </div>

                <!-- Right side with image -->
                <div class="col-md-6 ">
                    <div class="project-image">
                        <img src="../assets/images/EHR.png" width="400px" alt="Cover Image">
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    <hr>
    <div class="container">
        <div class="text-center">
            <h1>Let's build something together</h1>
            <div class="row footer">
                <div class="col-lg-4">
                    <div class="action">Email</div>
                    <div><a class="action-link" href="mailto:dasarisravya96@gmail.com">Dasarisravya96@gmail.com</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="action">
                        Reach out
                    </div>
                    <div>
                        <a class="action-link" href="https://www.linkedin.com/in/dasarisravya/" target="_blank">Linkedin
                            Profile</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="action">
                        Resume
                    </div>
                    <div>

                        <a class="action-link" href="https://www.linkedin.com/in/dasarisravya/" target="_blank">Just
                            Ask</a>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>